{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 bd-gutter">
    <div class="row mb-4">
        <div class="col">
            <h1 class="fw-semibold lh-lg mb-4">About</h1>
            <p class="lead"><i>FERMO</i> is a dashboard for metabolomics data analysis, with automated integration of genomics, phenotypical, and environmental (meta)data. It aims to make the prioritization of molecules of interest convenient, fast, and reproducible.</p>
            <p class="lead"><i>FERMO</i> integrates and cross-links with a number of other tools. For a list of dependencies, see <a target="_blank" href="https://github.com/fermo-metabolomics/fermo"><b>here</b></a> and <a target="_blank" href="https://github.com/fermo-metabolomics/fermo_core"><b>here</b></a>.</p>
            <p class="lead"><i>FERMO</i> is full free open source. If you found the tool useful and want to get involved with its development, please do not hesitate to get in touch! Visit the <a title="FERMO Metabolimis GitHub Organization page" href="https://github.com/fermo-metabolomics" class="custom-link" target="_blank"><i>FERMO</i> Metabolomics</a> GitHub Organisation page to learn more.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h1 class="fw-semibold lh-base mb-4">How to cite</h1>
            <p class="lead">If you have found <i>FERMO</i> useful for your analysis, please cite our <a rel="cite" href="https://doi.org/10.1101/2022.12.21.521422" class="custom-link" target="_blank">publication</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h1 class="fw-semibold lh-base mb-4">Meet the Developers</h1>
            <p class="lead">MITE is being developed by the following people</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/profile.mmz.JPG') }}" style="max-width: 90%; height: auto;" class="card-img-top mx-auto" alt="Mitja M. Zdouc">
                <div class="card-body">
                    <h5 class="card-title">Mitja M. Zdouc</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Project Lead and Lead Developer</h6>
                    <p class="card-text">Mitja is a pharmaceutical scientist from Austria, interested in method development for natural product biosynthesis and discovery using genomics and metabolomics.</p>
                    <a title="Email" href="mailto:mitja.zdouc@wur.nl" class="custom-link card-link"><i class="bi bi-envelope"></i></a>
                    <a title="GitHub Personal Page" href="https://github.com/mmzdouc" class="custom-link card-link" target="_blank"><i class="bi bi-github"></i></a>
                    <a title="LinkedIn Account" href="https://nl.linkedin.com/in/mitja-zdouc-phd-05aa9116b" class="custom-link card-link" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a title="ORCID" href="https://orcid.org/0000-0001-6534-6609" class="custom-link card-link" target="_blank"><i class="fa-brands fa-orcid"></i></a>
                    <a title="Bluesky" href="https://bsky.app/profile/mmzdouc.bsky.social" class="custom-link card-link" target="_blank"><i class="fa-brands fa-bluesky"></i></a>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/profile.hea.JPG') }}" style="max-width: 90%; height: auto;" class="card-img-top mx-auto" alt="Hannah E. Augustijn">
                <div class="card-body">
                    <h5 class="card-title">Hannah E. Augustijn</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Hannah is a bioinformatician from the Netherlands, interested in method development to explore the regulatory mechanisms influencing the expression of natural products in microorganisms.</p>
                    <a title="GitHub Personal Page" href="https://github.com/haugustijn" class="custom-link card-link" target="_blank"><i class="bi bi-github"></i></a>
                    <a title="LinkedIn Account" href="https://nl.linkedin.com/in/hannah-augustijn" class="custom-link card-link" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a title="ORCID" href="https://orcid.org/0000-0002-1862-6699" class="custom-link card-link" target="_blank"><i class="fa-brands fa-orcid"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h1 class="fw-semibold lh-base mb-4">Acknowledgements</h1>
            <p class="lead"><i>FERMO</i> acknowledges the support of the following people:</p>
            <ul class="lh-base my-3">
                <li><p class="lead my-1">Justin J.J. van der Hooft - academic project supervision</p></li>
                <li><p class="lead my-1">Marnix H. Medema - academic project supervision</p></li>
                <li><p class="lead my-1">Sarah Habicht - supported the development in the scope of her <a target="_blank" href="https://edepot.wur.nl/633364">master thesis</a> (2023).</p></li>
                <li><p class="lead my-1">Koen van Ingen - supported the development in the scope of his bachelor thesis (2024).</p></li>
            </ul>
            <p class="lead my-3">The following people supported <i>FERMO</i> as beta-testers (in alphabetical order):</p>
            <ul class="lh-base my-3">
                <li><p class="lead my-1">Maria Dell, Marianna Iorio, Soliman Khatib, George Lund, Sonia Maffioli, Leo Padva, Matteo Simone.</p></li>
            </ul>
            <p class="lead my-3"><i>FERMO</i> further acknowledges the support of the following institutions:</p>
            <ul class="lh-base my-3">
                <li><p class="lead my-1">This work was funded by the European Union Horizon 2020 project MARBLES [101000392].</p></li>
                <li><p class="lead my-1">This work was supported by the Netherlands Organization for Scientific Research (NWO) KIC grant KICH1.LWV04.21.013.</p></li>
            </ul>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h1 class="fw-semibold lh-base mb-4">Site Notice</h1>
            <p class="lead"><i>FERMO</i> is licensed under the <a rel="license" href="https://opensource.org/license/mit/" class="custom-link" target="_blank">MIT License</a> and is free to use for users from both academia and industry. There is no login requirement. We ask users to be reasonable in their usage, and limit themselves to 5 concurrent jobs. For large-scale analyses, <i>FERMO</i> can be installed offline, as described <a target="_blank" href="https://github.com/fermo-metabolomics/fermo"><b>here</b></a>.</p>
            <p class="lead">This website is non-commercial and serves purely informative purposes. We strive to provide accurate information; however, no responsibility is taken for the accuracy of the information displayed. For documents and software available from this website, the <i>FERMO</i> team does not warrant or assume any legal liability or responsibility for the accuracy, completeness, or usefulness of any information, apparatus, product, or process disclosed. The anonymity of uploaded data cannot be guaranteed. All data and existing jobs are deleted regularly and without warning. The <i>FERMO</i> team does not take any responsibility for the content of external sites linked from this website.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h1 class="fw-semibold lh-base mb-4">Contact</h1>
            <p class="lead">Contact person: <a class="custom-link"  href="mailto:mitja.zdouc@wur.nl">Mitja M. Zdouc</a></p>
            <p class="lead">Telephone: +31317484706</p>
            <p class="lead">Address: Bioinformatics Group, Wageningen University & Research, Droevendaalsesteeg 1, 6708PB Wageningen, the Netherlands.</p>
        </div>
    </div>
</div>
{% endblock %}