{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_help %}
<div class="container my-5" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-auto text-center mx-auto">
      {% if job_id %}
        <h1 class="fw-semibold lh-2">Loaded parameters of job ID: {{ job_id }}</h1>
        <p class="main-text">Adjust any parameters and select the "start analysis" button to visualize the results.</p>
      {% else %}
        <h1 class="mt-1 mb-3 fw-semibold d-flex justify-content-center">Start analysis</h1>
        <p class="main-text">Upload your data, set your preferred parameters, and you are good to go!
        You can also reload the parameter settings of your previous job and use them to run a new analysis.</p>
      {% endif %}
    </div>
  </div>
  {% if online %}
    <div class="mx-4 my-2">
      <div class="alert alert-light" role="alert">
        <div class="row">
          <div class="col-8">
            <h1 class="alert-heading" style="font-size: 1.4em;">Attention Online Users!</h1>
          </div>
          <div class="col-4">
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <p><i>FERMO</i> is still in <b>early access</b>,
          and we have a daily maintenance window from <b>6 AM to 8 AM CEST</b>.<br/>
          Please note that jobs initiated during this period may not complete successfully.
          Thank you for your understanding.</p>
        <hr>
        <p class="mb-0">Further, the <b>online version of <i>FERMO</i></b> has a few <b>restrictions</b>
          due to computational restrains:</p>
        <ul class="lh-base my-2">
          <li><p>A file size limit of <b>7 MB</b>, with a maximum of <b>3000</b> molecular features in the peaktable.</p></li>
          <li><p>A maximum total job run time of <b>60 minutes</b>.</p></li>
          <li><p>The maximum job storage time is limited to <b>30 days</b>. Make sure to <b>download</b> your results!</p></li>
        </ul>
        <p>To bypass these restrictions, you can install
          <a href="https://github.com/fermo-metabolomics/fermo" target="_blank" style="color: #6D757D; text-decoration: underline;"><b><i>FERMO</i> offline</b></a>.</p>
      </div>
    </div>
  {% endif %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="mx-4 my-2">
      <div class="alert alert-light" role="alert">
        <div class="row">
        <div class="card card-body">
          <div class="col text-center mx-auto">
            <h4 class="fw-semibold lh-2">Error during input validation!</h4>
            <ul class="lh-base list-unstyled">
            {% for message in messages %}
                <li><p class="lead mb-1">{{ message }}</p></li>
            {% endfor %}
            </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endwith %}
  <form method="post" enctype="multipart/form-data" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="row">
      <div class="col justify-content-center text-center">
        <h1 class="mt-1 mb-4 fw-semibold" style="font-size: 1.3em;">Select one of the following options to start your <i>FERMO</i> analysis:</h1>
      </div>
    </div>
    <div class="row">
      <div class="col btn-group gap-2" role="group" aria-label="Dispatch type group">
        <input type="radio" class="btn-check" name="btnradio" id="startAnalysis" autocomplete="off" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#startAnalysisContent">
        <label class="btn btn-outline-secondary p-2" for="startAnalysis">Start new analysis</label>
        <input type="radio" class="btn-check" name="btnradio" id="loadParams" autocomplete="off">
        <label class="btn btn-outline-secondary p-2" for="loadParams">Load parameter settings</label>
        <input type="radio" class="btn-check" name="btnradio" id="loadSession" autocomplete="off">
        <label class="btn btn-outline-secondary p-2" for="loadSession">Load results of previous session</label>
      </div>
    </div>

<!--    TODO (MMZ 23.4.25): remove show-->
    <div class="collapse show" id="startAnalysisContent">
      <div class="border start_box">
        <div class="m-3">
          <div class="row">
            <div class="col">
              <h2 class="mt-1 mb-4" style="font-size: 1.4em;">Peak table parameters {{ render_help("https://fermo-metabolomics.github.io/fermo_docs/home/gui.start/#peaktable") }}</h2>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-6">
              <span><label class="form-label ms-1" for="PeaktableParametersFile">Upload the peak table file (.csv)</label>{{ render_help("https://fermo-metabolomics.github.io/fermo_docs/home/input_output/#molecular-feature-peaktable") }}</span>
              <input class="form-control form-control-sm" id="PeaktableParametersFile" name="PeaktableParametersFile" type="file" accept=".csv" onchange="checkFileExtension('PeaktableParametersFile', 'csv', 'AlertContainerPeaktable')">
              <div id="AlertContainerPeaktable"></div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-6">
              <label class="form-label ms-1" for="PeaktableParametersFormat" >Select the formatting of the peak table file</label>
              <select class="form-select form-select-sm" id="PeaktableParametersFormat" name="PeaktableParametersFormat">
                <option value="mzmine3" {% if params.get("PeaktableParameters", {}).get("format") == "mzmine3" %}selected{% endif %}>Mzmine 3</option>
                <option value="mzmine4" {% if params.get("PeaktableParameters", {}).get("format") == 'mzmine4' %}selected{% endif %}>Mzmine 4</option>
              </select>
            </div>
            <div class="col-6">
              <label class="form-label ms-1" for="PeaktableParametersPolarity" >Select the ion polarity mode of the peak table file</label>
              <select class="form-select form-select-sm" id="PeaktableParametersPolarity" name="PeaktableParametersPolarity">
                <option value="positive" {% if params.get("PeaktableParameters", {}).get("polarity") == "positive" %}selected{% endif %}>Positive</option>
                <option value="negative" {% if params.get("PeaktableParameters", {}).get("polarity") == 'negative' %}selected{% endif %}>Negative</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="card card-body m-1">
                <div class="row">
                  <div class="col">
                    <div>Specify <b>Feature Filter</b> settings {{ render_help("https://fermo-metabolomics.github.io/fermo_docs/modules/filter.feature/") }}</div>
                  </div>
                  <div class="col-auto">
                    <button class="accordion-button-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FeatureFilteringParametersDetails" aria-controls="FeatureFilteringParametersDetails" aria-expanded="false"></button>
                  </div>
                </div>
                <div class="collapse" id="FeatureFilteringParametersDetails">
                  <div class="row mt-2 mx-1">
                    <div class="col">
                      <div class="mb-1">Filter <b>Feature Area</b></div>
                      <div class="text-muted mb-2"><i>Range of relative feature areas to include in analysis</i></div>
                      <div class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                          <div>min</div>
                        </div>
                        <div class="col-12">
                          <input type="number" class="form-control form-control-sm" id="FeatureFilteringParametersAreaMin" name="FeatureFilteringParametersAreaMin" min="0" max="1" step="0.01" value="{{ params.get('FeatureFilteringParameters', {}).get('filter_rel_area_range_min') }}">
                        </div>
                        <div class="col-12">
                          <div>max</div>
                        </div>
                        <div class="col-12">
                          <input type="number" class="form-control form-control-sm" id="FeatureFilteringParametersAreaMax" name="FeatureFilteringParametersAreaMax" min="0" max="1" step="0.01" value="{{ params.get('FeatureFilteringParameters', {}).get('filter_rel_area_range_max') }}">
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-1">Filter <b>Feature Height/Intensity</b></div>
                      <div class="text-muted mb-2"><i>Range of relative feature height/intensity to include in analysis</i></div>
                      <div class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                          <div>min</div>
                        </div>
                        <div class="col-12">
                          <input type="number" class="form-control form-control-sm" id="FeatureFilteringParametersIntMin" name="FeatureFilteringParametersIntMin" min="0" max="1" step="0.01" value="{{ params.get('FeatureFilteringParameters', {}).get('filter_rel_int_range_min') }}">
                        </div>
                        <div class="col-12">
                          <div>max</div>
                        </div>
                        <div class="col-12">
                          <input type="number" class="form-control form-control-sm" id="FeatureFilteringParametersIntMax" name="FeatureFilteringParametersIntMax" min="0" max="1" step="0.01" value="{{ params.get('FeatureFilteringParameters', {}).get('filter_rel_int_range_max') }}">
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="AdductAnnotationParametersActivate" data-bs-toggle="collapse" aria-expanded="{% if params.get('AdductAnnotationParameters', {}).get('activate_module') %}true{% else %}false{% endif %}" data-bs-target="#AdductAnnotationParameters" {% if params.get("AdductAnnotationParameters", {}).get("activate_module") %}checked{% endif %}>
                    <label class="form-check-label" for="AdductAnnotationParametersActivate">Activate <b>Adduct Annotation</b> Module {{ render_help("https://fermo-metabolomics.github.io/fermo_docs/modules/annotation.adduct") }}</label>
                  </div>
                </div>
              </div>
              <div class="collapse {% if params.get('AdductAnnotationParameters', {}).get('activate_module') %}show{% endif %}" id="AdductAnnotationParameters">
                <div class="row">
                  <div class="col-10">
                    <div class="card card-body m-1">
                      <div class="row">
                        <div class="col">
                          <div class="text-muted"><i>Specify parameters</i></div>
                        </div>
                        <div class="col-auto">
                          <button class="accordion-button-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#AdductAnnotationParametersDetails" aria-controls="AdductAnnotationParametersDetails" aria-expanded="false"></button>
                        </div>
                      </div>
                      <div class="collapse" id="AdductAnnotationParametersDetails">
                        <div class="row mt-1">
                          <div class="col">
                            <label for="AdductAnnotationParametersPpm" class="form-label">Mass accuracy tolerance (in ppm)</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-8">
                            <input type="number" class="form-control form-control-sm" id="AdductAnnotationParametersPpm" name="AdductAnnotationParametersPpm" min="0" max="100" step="0.1" value="{{ params.get('AdductAnnotationParameters', {}).get('mass_dev_ppm') }}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="NeutralLossParametersActivate" data-bs-toggle="collapse" aria-expanded="{% if params.get('NeutralLossParameters', {}).get('activate_module') %}true{% else %}false{% endif %}" data-bs-target="#NeutralLossParameters" {% if params.get("NeutralLossParameters", {}).get("activate_module") %}checked{% endif %}>
                    <label class="form-check-label" for="NeutralLossParametersActivate">Activate <b>Neutral Loss Annotation</b> Module {{ render_help("https://fermo-metabolomics.github.io/fermo_docs/modules/annotation.loss") }}</label>
                  </div>
                </div>
              </div>
              <div class="collapse {% if params.get('NeutralLossParameters', {}).get('activate_module') %}show{% endif %}" id="NeutralLossParameters">
                <div class="row">
                  <div class="col-10">
                    <div class="card card-body m-1">
                      <div class="row">
                        <div class="col">
                          <div class="text-muted"><i>Specify parameters</i></div>
                        </div>
                        <div class="col-auto">
                          <button class="accordion-button-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#NeutralLossParametersDetails" aria-controls="NeutralLossParametersDetails" aria-expanded="false"></button>
                        </div>
                      </div>
                      <div class="collapse" id="NeutralLossParametersDetails">
                        <div class="row mt-1">
                          <div class="col">
                            <label for="NeutralLossParametersPpm" class="form-label">Mass accuracy tolerance (in ppm)</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-8">
                            <input type="number" class="form-control form-control-sm" id="NeutralLossParametersPpm" name="NeutralLossParametersPpm" min="0" max="100" step="0.1" value="{{ params.get('NeutralLossParameters', {}).get('mass_dev_ppm') }}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="FragmentAnnParametersActivate" data-bs-toggle="collapse" aria-expanded="{% if params.get('FragmentAnnParameters', {}).get('activate_module') %}true{% else %}false{% endif %}" data-bs-target="#FragmentAnnParameters" {% if params.get("FragmentAnnParameters", {}).get("activate_module") %}checked{% endif %}>
                    <label class="form-check-label" for="FragmentAnnParametersActivate">Activate <b>MS/MS Fragment Annotation</b> Module {{ render_help("https://fermo-metabolomics.github.io/fermo_docs/modules/annotation.fragment") }}</label>
                  </div>
                </div>
              </div>
              <div class="collapse {% if params.get('FragmentAnnParameters', {}).get('activate_module') %}show{% endif %}" id="FragmentAnnParameters">
                <div class="row">
                  <div class="col-10">
                    <div class="card card-body m-1">
                      <div class="row">
                        <div class="col">
                          <div class="text-muted"><i>Specify parameters</i></div>
                        </div>
                        <div class="col-auto">
                          <button class="accordion-button-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FragmentAnnParametersDetails" aria-controls="FragmentAnnParametersDetails" aria-expanded="false"></button>
                        </div>
                      </div>
                      <div class="collapse" id="FragmentAnnParametersDetails">
                        <div class="row mt-1">
                          <div class="col">
                            <label for="FragmentAnnParametersPpm" class="form-label">Mass accuracy tolerance (in ppm)</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-8">
                            <input type="number" class="form-control form-control-sm" id="FragmentAnnParametersPpm" name="FragmentAnnParametersPpm" min="0" max="100" step="0.1" value="{{ params.get('FragmentAnnParameters', {}).get('mass_dev_ppm') }}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>


      </div>
    </div>




  <!--encapsulate in forms tag, vanilla html/js, without wtforms; add the individual form blocks for load, new, from separate html -->



  </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/dispatch_forms.js') }}"></script>
{% endblock %}