{% extends 'base.html' %}

{% block content %}
<div class="container-xxl bd-gutter text-center">
    <div class="row my-5">
        <div class="col">
            <img class="d-block mx-auto" style="max-width: 18vw;" src="{{ url_for('static', filename='/images/Fermo_logo_blue.svg') }}" alt="FERMO logo" >
        </div>
    </div>
    <div class="row mb-3 mx-2">
        <div class="col mx-auto">
            <h1 class="fw-semibold lh-2">Analyze your metabolomics data with <i>FERMO</i></h1>
        </div>
    </div>
    <div class="row mb-4 mx-2 justify-content-center">
        <div class="col-8">
            <p class="lead mb-2">Integrate your <b>metabolomics</b>, <b>genomics</b>, <b>phenotypic</b>, and <b>sample grouping metadata</b> with a few clicks.</p>
            <p class="lead mb-2">Select from a wide range of annotation tools.</p>
            <p class="lead mb-2">Visualize and prioritize your <b>molecules of interest</b> with the convenient dashboard.</p>
        </div>
    </div>
    <div class="row mb-5 mx-2 justify-content-center">
        <div class="col-auto">
            <a class="btn btn-lg btn-primary fw-semibold" href="{{ url_for('routes.dispatch') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Go to the Analysis page">Start Analysis</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-lg btn-secondary fw-semibold" href="{{ url_for('routes.task_result', job_id='example1') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Re-analysis of the Euphorbia dendroides dataset originally reported by Bioactivity-based Molecular Networking">Show example</a>
        </div>
    </div>
    <div class="row mb-3 mx-2">
        <div class="col mx-auto">
            <h1 class="fw-semibold lh-3">Want to learn more about <i>FERMO</i>?</h1>
        </div>
    </div>
    <div class="row mb-3 mx-2 justify-content-center">
        <div class="col-8">
            <p class="lead mb-3">Find out which data types and file formats <i>FERMO</i> accepts, the output it generates, and how to interpret and analyze results.</p>
        </div>
    </div>
    <div class="row mb-5 mx-2">
        <div class="col">
            <a class="btn btn-lg btn-dark fw-semibold" target="_blank" href="https://mmzdouc.github.io/fermo_docs/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Opens the FERMO documentation in a new tab."><i class="bi bi-book-half"></i> Read the docs</a>
        </div>
    </div>
</div>
{% endblock %}