{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="mx-4">
        <div class="container-fluid">
            <div class="row my-4 d-flex align-items-center">
                <div class="col-auto"><h1 class="fw-semibold lh-2">Job submitted</h1></div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="lead mb-3">Your job with the ID <b>{{ job_id }}</b> was successfully submitted.</p>
                    <p class="lead mb-3">Click <a class="custom-link" href="{{ url_for('routes.task_result', job_id=job_id) }}"><b>HERE</b></a> to access the job status.</p>
                    <p class="lead mb-3"></p>
                    {% if online%}
                    <p class="lead mb-3">If you have specified an email address, you will be notified about the job outcome.</p>
                    {% endif %}
                </div>
            </div>
      </div>
    </div>
</div>
{% endblock %}