{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="fw-semibold lh-2 mb-5">Job not found</h1>
            <p class="lead mb-3">Results for the job with ID <b>'{{ job_id }}'</b> could not be found. Possible reasons are:</p>
            <ul>
                <li><p class="lead mb-2">The job ID is incorrect (i.e. contains a typo).</p></li>
                {% if online %}
                <li><p class="lead mb-2">The job is older than 30 days and was deleted.</p></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}