{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="fw-semibold lh-2 mb-5">Job running</h1>
            <p class="lead mb-3">The job with ID <b>{{ job_id }}</b> is currently running.</p>
            <p class="lead mb-3">Please click <a class="custom-link" href="{{ url_for('routes.task_result', job_id=job_id) }}"><b>HERE</b></a> to reload the page.</p>
            <p class="lead mb-3">For details on the job status, see the logs below (<i>Nota bene: not dynamically updated)</i>.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="bg-dark text-light p-3 rounded position-relative" style="max-height: 400px; overflow-y: auto; font-family: monospace; font-size: 0.9rem;">
                <button class="btn btn-sm btn-outline-light position-absolute top-0 end-0 m-2" data-clipboard-target="#logContent" id="logContentButton" >Copy to clipboard</button>
                <pre class="m-0 p-0"><code class="d-block" id="logContent">
                {% if log %}
                {% for entry in log %}
                {{ entry }}
                {% endfor %}
                {% endif %}
                </code></pre>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/copy_clipboard.js') }}" defer></script>

{% endblock %}